<h3> <%= @recipe.name %></h3>
<p> Description: <%= @recipe.description %> </p>
<p> Instructions: <%= @recipe.instructions %> </p>
<p> Category: <%= @recipe.category %>
<p> <img src='<%= @recipe.image %>' alt='<%= @recipe.name %>' > </p>
