<h2> <%= @category.category %> </h2>

<% @category.recipes.each do |recipe| %>
  <p> <%= recipe.name %> 
   <%= link_to("Show", recipe_path(recipe)) %>
   <%= link_to("Edit", edit_recipe_path(recipe)) %> 
   <%= button_to('Delete', recipe_path(recipe), method: :delete, data: {confirm: 'Are you sure?'}) %> </p>
  <% end %>
